/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

// fonts
$font-family-monospace: 'Fira Code', monospace;
$font-family: 'Poiret One', sans-serif;
$font-family: 'Inter', sans-serif;

// colours
$toc-color: #ababab;
$toc-active-border:	#fffbf7;
$toc-inactive-border: #fffbf7;
$navbar-fg: olivedrab;	
$navbar-hl: #ae027e;
$body-bg: #fffbf7;
$link-color: #ababab;
$text-shadow-color: rgba(red(#fffbf7), green(#fffbf7), blue(#fffbf7), 0.5);

/*-- scss:rules --*/

h1 {
  font-family: 'Poiret One', sans-serif;
  color: #333333;
  padding-top: 0.3rem;
}

.title-transp {
  opacity: 0 !important;
}

.title-right {
  font-family: 'Poiret One', sans-serif;
  color: #013a63;
  font-size: 2.4rem;
  text-shadow: 1px 1px 4px $text-shadow-color;
}

.subtitle-right {
  font-family: 'Poiret One', sans-serif;
  color: #013a63;
  font-size: 2.2rem;
  text-shadow: 1px 1px 4px $text-shadow-color;
}

.title-container {
  position: absolute;
  bottom: 0.5rem;
  right: 2.5rem;
  text-align: right;
}

h3 {
  font-family: 'Poiret One', sans-serif;
  color: #444444;
  font-size: 1.2rem;
}

p {
  font-family: 'Inter', sans-serif;
  color: #444444;
  font-weight: 300;
  font-size: 0.9rem;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.2rem;
}

.navbar-brand>img {
    max-height: 50px;
    width: auto;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.sidebar nav[role=doc-toc] ul>li>a.active{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.monosp {
  font-family: 'Fira Code', monospace;
}

.thin {
  font-family: 'Inter', sans-serif;
  color: #1e394a;
  font-weight: 200;
  font-size: 0.8rem;
}

.bullet-color {
  color: #cca171; 
}

.transparent-card {
  background-color: transparent !important;
}

.about-links {
  font-size: 1.5rem;
}
