/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

// fonts
$font-family-monospace: 'Fira Code', monospace;
$font-family: 'League Spartan', sans-serif;
$font-family: 'Poiret One', sans-serif;
$font-family: 'Inter', sans-serif;

// colours
$toc-color: #cca171;
$toc-active-border:	#fffbf7;
$toc-inactive-border: #fffbf7;
$navbar-fg: #8c5c2d;	
$navbar-hl: #cca171;
$body-bg: #fffbf7;
$link-color: #cca171;

/*-- scss:rules --*/

h1 {
  font-family: 'Poiret One', sans-serif;
  color: #5e7789;
  padding-top: 0.3rem;
}

.title-gold {
  font-family: 'Poiret One', sans-serif;
  color: #cca171;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Poiret One', sans-serif;
  color: #8c5c2d;
  font-size: 1.2rem;
}

p {
  font-family: 'Inter', sans-serif;
  color: #1e394a;
  font-weight: 300;
  font-size: 0.9rem;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.2rem;
}

.navbar-brand>img {
    max-height: 50px;
    width: auto;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.sidebar nav[role=doc-toc] ul>li>a.active{
  font-family: 'Inter', sans-serif;
  font-weight: 500;  
}

sidebar nav[role=doc-toc] {
  font-family: 'Inter', sans-serif;
}

a:hover {
  text-decoration: underline;
}

.monosp {
  font-family: 'Fira Code', monospace;
}

.thin {
  font-family: 'Inter', sans-serif;
  color: #1e394a;
  font-weight: 200;
  font-size: 0.8rem;
}

.bullet-color {
  color: #cca171; 
}

.transparent-card {
  background-color: transparent !important;
}

 .about-links {
   font-size: 1.5rem;
}